{% extends 'status_base.html' %}

{% block title %}Account Deleted{% endblock %}
{% block status_class %}sunny-status-coral{% endblock %}
{% block status_icon %}&#8212;{% endblock %}
{% block status_kicker %}Account closed{% endblock %}
{% block status_heading %}Your account has been deleted.{% endblock %}
{% block status_copy %}
  <p>We have removed your account and signed you out.</p>
  <p class="sunny-auth-note">If this was not you, please contact our support team.</p>
{% endblock %}
{% block status_actions %}
  <a href="{% url 'home' %}" class="btn btn-primary">Go to home</a>
  <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Create a new account</a>
  <a href="{% url 'contact_us' %}" class="btn btn-link">Contact support</a>
{% endblock %}
