{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Change Your Password</h2>

    {% if form.errors %}
      <div class="alert alert-danger">
        Please correct the error(s) below.
      </div>
    {% endif %}

    <form method="POST" novalidate>
      {% csrf_token %}
      <!-- Renders all the fields in the PasswordChangeForm (old_password, new_password1, new_password2) -->
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
