{% extends 'accounts/auth_base.html' %}
{% block title %}Set new password{% endblock %}
{% block auth_kicker %}Secure your account{% endblock %}
{% block auth_title %}Choose a fresh password.{% endblock %}
{% block auth_copy %}Set a new password that is memorable to you and difficult for anyone else to guess.{% endblock %}

{% block auth_card %}
<h3>Set a new password</h3>
<form method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <button class='btn btn-primary' type='submit'>Change password</button>
</form>
{% endblock %}
