{% extends 'status_base.html' %}

{% block title %}Password Reset Sent{% endblock %}
{% block status_class %}sunny-status-blue{% endblock %}
{% block status_icon %}&#9993;{% endblock %}
{% block status_kicker %}Check your inbox{% endblock %}
{% block status_heading %}Your reset link is on its way.{% endblock %}
{% block status_copy %}
  <p>If an account exists for that email address, we have sent a secure password reset link.</p>
{% endblock %}
{% block status_actions %}
  <a href="{% url 'login' %}" class="btn btn-primary">Back to login</a>
  <a href="{% url 'home' %}" class="btn btn-outline-secondary">Go to home</a>
{% endblock %}
