body { 
    background-color: lightgreen; 
}

/* Ensure that the card stretches to fill the height */
.card {
    display: flex;
    flex-direction: column;
}

.card-title {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}

.price {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}